{% load static %}
<section id="team" class="team section-bg">
  <div class="container">

    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">

        <img src="{% static 'images/about.jpg'%}" alt="" class="img-fluid">

      </div>
      <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3 >Techno Solutions Company</h3>
          <p>Fondée en 2015, TSC est une entreprise opérant dans le secteur des services industriels et des bâtiments intelligents.</p>
          <ul>
            <li>Étude, Assistance et consulting en Aménagement industriel</li>
            <li>Conception des mécanismes et des systèmes</li>
            <li>Automatisation des postes de travail</li>
            <li>Programmation des API</li>
            <li>Étude et conseil en installations domotiques</li>
            <li>Ventes des systèmes et équipements industriels</li>
            <li>Ventes des accessoires et équipements domotiques et portes automatiques</li>
          </ul>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section>
