<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ title }}</title>
  <link href="{% static 'Pages/icologo.ico'%}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Pages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'Pages/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Pages/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flattern - v2.0.1
  * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@technosolutions.tn</a>
        <i class="icofont-phone"></i> +216 73 562 538
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <a href="{% url 'Accueil' %}"><img src="{% static 'images/TSC-LOGO2020-h.png'%}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li {% if Accueil %}{{ Accueil }}{% endif %}><a href="{% url 'Accueil' %}">Accueil</a></li>
          <li {% if Services %}{{ Services }}{% endif %}><a href="{% url 'Services' %}">Services</a></li>
          <li {% if Produits %}{{ Produits }}{% endif %}><a href="{% url 'Produits' %}">Produits</a></li>
          <li {% if Contact %}{{ Contact }}{% endif %}><a href="{% url 'Contact' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
{% block content %}{% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Techno Solutions Company</h4>
            <p>
            Av. Bahri BRIGUI, Route de Mahdia <br>
               Bekalta, Monastir<br>
              5090La Tunisie<br><br>
              <strong>Phone:</strong> +216 73 562 538<br>
              <strong>Email:</strong> contact@technosolutions.tn <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Accueil' %}">Accueil</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Services' %}">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Produits' %}">Produits</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Contact' %}">Contact</a></li>
              </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Some Products</h4>
            <ul>
              {% for i in Fo %}
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Produits' %}{{ i.name }}">{{ i.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

 <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Techno Solutions Company</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Pages/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Pages/assets/vendor/aos/aos.js' %}" ></script>
  <!-- Template Main JS File -->
  <script src="{% static 'Pages/assets/js/main.js' %}"></script>

</body>

</html>
