{% extends "Pages/base.html" %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Contact</h2>
      <ol>
        <li><a href="{% url 'Accueil' %}">Accueil</a></li>
        <li>Contact</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->


<div class="map-section">
  <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1066.9015609311305!2d10.992766979678903!3d35.61305875712008!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe25f04092ac2adcd!2sTechno%20Solutions%20Company!5e0!3m2!1sen!2sus!4v1597572975886!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<section id="contact" class="contact">
  <div class="container">

    <div class="row justify-content-center" >

      <div class="col-lg-10">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-4 info">
              <a href="https://www.google.com/maps/place/Techno+Solutions+Company/@35.613227,10.992788,17z/data=!4m5!3m4!1s0x0:0xe25f04092ac2adcd!8m2!3d35.613227!4d10.992788?hl=en">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Av. Bahri BRIGUI, Route de Mahdia <br> Bekalta, Monastir, 5090 La Tunisie</p>
              </a>
            </div>

            <div class="col-lg-4 info mt-4 mt-lg-0">
              <a href="mailto:contact@example.com">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>contact@technosolutions.tn</p>
              </a>
            </div>

            <div class="col-lg-4 info mt-4 mt-lg-0">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+216 73 562 538<br>+216 52 922 371</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row mt-5 justify-content-center" >
      <div class="col-lg-10">
        <form action="{% url 'Contact' %}" method="post" role="form" class="php-email-form">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center col"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
{% endblock content %}
